* {
  box-sizing: border-box;
  margin: 0;
}
:root {
  --primary_color: #222;
  --second_color: #fff;
  --third_color: #444;
  --background_color: #000;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--background_color);
  color: var(--second_color);
  font-family: "Audiowide", sans-serif;
  height: 100vh;
  width: 100%;
  /* overflow: hidden; */
}
#nav_bar {
  position: fixed;
  top: 0;
  height: 5rem;
  width: 100%;
  background-color: #ffe601;
}
#main-of-game {
  position: relative;
  margin-top: 14%;
  overflow: hidden;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#loading {
  opacity: 0;
  position: absolute;
  top: 2rem;
  display: flex;
  align-items: center;
}
#loading p {
  position: absolute;
  overflow: hidden;
  font-size: 25px;
  width: 188px;
  animation-name: loading;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.41, 0.46, 0.75, 0.72);
  animation-iteration-count: infinite;
}
.loading_before {
  transform: translateY(100%);
  width: 60px;
  margin-left: -100%;
  height: 60px;
  border: 5px solid transparent;
  border-top: 5px solid #fff;
  border-bottom: 5px solid #fff;
  border-radius: 50%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.41, 0.46, 0.75, 0.72);
}
.son_loading_before {

  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  margin: auto;
  animation-name: rotate;
  animation-timing-function: cubic-bezier(0.41, 0.46, 0.75, 0.72);
  animation-iteration-count: infinite;
  background-color: #00ffff;
  animation-direction: alternate-reverse;
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading {
  from {
    width: 168px;
  }
  to {
    width: 188px;
  }
}
.mode-selector {
  position: fixed;
  top: 5rem;
  left: 0;
  background-color: green;
  padding: 1.5rem 2rem;
  margin: auto;
}
option {
  font-weight: 900;
}

input {
  width: 900px;
  height: 50px;
  margin-top: 8rem;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  border: 2px solid cyan;
  border-radius: 5px;
  background: black;
  color: var(--second_color);
  outline: none;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  gap: 10px;
  padding: 20px;
  background-size: cover;
  background-position: bottom;
  border-radius: 10px;
}
.key_easy {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2.5px solid #ffe601;
  background: var(--third_color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s;
  cursor: pointer;
  user-select: none;
}
.key_medium {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2.5px solid cyan;
  background: var(--third_color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s;
  cursor: pointer;
  user-select: none;
}
.key_hard {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2.5px solid #ff0101;
  background: var(--third_color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s;
  cursor: pointer;
  user-select: none;
}
@keyframes aparition {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.word-transition {
  font-size: 50px;
  animation: aparition 0.5s ease-out;
}
.active {
  background: cyan;
  box-shadow: 0 0 10px cyan;
}
.key-backspace {
  grid-column: span 2;
  width: 105px;
}

/*pour le compte a rebour */

.letter {
  display: inline-block;
  margin: 0 2px;
  font-size: 2.5rem;
  transition: all 0.2s ease;
}

#word-display {
  text-align: center;
  height: 3rem;
  font-family: "Orbitron", sans-serif;
}
.resultat-containt {
  display: flex;
  position: fixed;
  top: 5rem;
  background-color: #b700ff;
  right: 0;
  align-items: center;
  gap: 20px;
}

#score-final {
  position: relative;
  color: #fffb00;
  position: absolute;
  background-color: #003007;
  height: 0rem; /* 40rem valeur quand le score doit aparaitre*/
  width: 0rem; /* 40rem  valeur quand le score doit aparaitre*/
  overflow: hidden;
  padding: 0px; /* 30px  valeur quand le score doit aparaitre*/
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
#score-final h1 {
  font-size: 2.58rem;
}
.score-final-new-record {
  position: absolute;
  right: 3rem;
  bottom: 5rem;
  width: 10rem;
  height: 10rem;
}

.option-final {
  position: absolute;
  bottom: 1rem;
  justify-content: space-between;
  gap: 5rem;
  width: 90%;
}

#option-restart {
  padding: 20px;
  font-size: 150%;
  font-weight: 600;
  font-family: "Audiowide", sans-serif;
  padding: 1rem 2rem;
  color: #00ffff;
  background: #0a0a0a;
  border: 2px solid #00ffff;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  clip-path: polygon(
    15px 0%,
    100% 0%,
    100% 70%,
    calc(100% - 15px) 100%,
    0 100%,
    0% 30%
  );

  transition: 1s;
}

#option-restart::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(120deg, transparent, #00ffff, transparent);
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.4s ease;
  transform: rotate(45deg) translateX(-100%);
  transition: transform 1s;
  z-index: -1;
}
#option-restart:hover::before {
  opacity: 0.4;
  transform: rotate(45deg) translateX(100%);
  transition: transform 1s;
}

#option-restart:hover {
  box-shadow: inset 0 0 30px #000000;
  color: #0a0a0a;
  background: #00ffff;
  border: 2px solid #000;
  transition: 1s;
}

.lettre {
  font-size: 24px;
  margin: 2px;
  padding: 4px;
  border-bottom: 2px solid #ccc;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.timer-display {
  background-color: green;
  padding: 1.5rem 2rem;
  margin: auto;
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  color: white;
}

.time-progress {
  width: 100%;
  height: 8px;
  background-color: #333;
  border-radius: 4px;
  margin-top: 5px;
}

.time-left {
  height: 100%;
  background-color: cyan;
  width: 100%;
  transition: width 0.1s linear;
}

.timer-container {
  position: absolute;
  top: 5rem;
  left: 20%;
  right: 20%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-family: "Orbitron", sans-serif;
  font-size: 2rem;
  text-align: center;
  transform: scale(1);
  transition: 0.1s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  
}
@keyframes effet_timer {
  0% {
    transform: scale(1);
    transition: 0.1s;
  }
    50% {
    transform: scale(1.04);
    transition: 0.1s;
  }
    100% {
    transform: scale(1);
    transition: 0.1s;
  }
}

.time-bar-container {
  width: 100%;
  height: 10px;
  background: #333;
  border-radius: 5px;
  margin-top: 5px;
}

.time-bar {
  height: 100%;
  width: 100%;
  background: #00ff44;
  border-radius: 5px;
  transition: width 0.3s, background-color 0.3s;
}
