* {
  box-sizing: border-box;
}
:root {
  --primary_color: #222;
  --second_color: #fff;
  --third_color: #444;
  --background_color: #000;
}
html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--background_color);
  color: var(--second_color);
  font-family: "Audiowide", sans-serif;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
#navigation {
  position: fixed;
  top: 0;
  height: 10%;
  width: 100%;
  background-color: #ffe601;
}

.mode-selector {
  position: absolute;
  left: 0;
  top: 0;
  background-color: green;
  padding: 1.5rem 2rem;
  margin: auto;
}

input {
  width: 900px;
  height: 50px;
  margin-top: 8rem;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
  border: 2px solid cyan;
  border-radius: 5px;
  background: black;
  color: var(--second_color);
  outline: none;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  gap: 10px;
  padding: 20px;
  background-size: cover;
  background-position: bottom;
  border-radius: 10px;
}
.key_easy {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2.5px solid #ffe601;
  background: var(--third_color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s;
  cursor: pointer;
  user-select: none;
}
.key_medium {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2.5px solid cyan;
  background: var(--third_color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s;
  cursor: pointer;
  user-select: none;
}
.key_hard {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2.5px solid #ff0101;
  background: var(--third_color);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background 0.3s;
  cursor: pointer;
  user-select: none;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.word-transition {
  animation: fadeIn 0.5s ease-out;
}
.active {
  background: cyan;
  box-shadow: 0 0 10px cyan;
}
.key-backspace {
  grid-column: span 2;
  width: 105px;
}

/*pour le compte a rebour */
#countdown-contener {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: xx-large;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: -4;
  padding: 0.3%;
  /* overflow: hidden; */
}
.countdown-semicircle {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.countdown-semicircle:nth-child(1) {
  background-color: #ff0101;
  z-index: -3;
}
.countdown-semicircle:nth-child(2) {
  background-color: cyan;
  z-index: -2;
}
.countdown-semicircle:nth-child(3) {
  background-color: #ffffff;
  z-index: -1;
  display: none;
}
.countdown-outermost-circle {
  background-color: #fc018b;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 5;
}

.letter {
  display: inline-block;
  margin: 0 2px;
  font-size: 2.5rem;
  transition: all 0.2s ease;
}

#word-display {
  text-align: center;
  height: 3rem;
  font-family: "Orbitron", sans-serif;
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
  font-family: "Orbitron", sans-serif;
}
#section_word-display {
  border: 2px solid red;
  color: #fff;
  height: 5rem;
  margin-top: 3rem;
  margin-bottom: -3rem;
  position: relative;
}
.resultat-containt{
  display: flex;
  align-items: center;
  gap: 20px;
}

.faded {
  opacity: 0;
  color: rgb(255, 255, 255);
  top: -50px;
  transition: top 0.3s;
}

#score-final {
  position: relative;
  color: #fffb00;
  position: absolute;
  background-color: #003007;
  height: 0rem; /* 40rem valeur quand le score doit aparaitre*/
  width: 0rem; /* 40rem  valeur quand le score doit aparaitre*/
  overflow: hidden;
  padding: 0px; /* 30px  valeur quand le score doit aparaitre*/
  text-align: center;
  font-family: "Orbitron", sans-serif;
}
#score-final h1 {
  font-size: 2.58rem;
}
.score-final-new-record {
  position: absolute;
  right: 3rem;
  bottom: 5rem;
  width: 10rem;
  height: 10rem;
}

.option-final {
  position: absolute;
  bottom: 1rem;
  justify-content: space-between;
  gap: 5rem;
  width: 90%;
}

#option-restart {
  padding: 20px;
  font-size: 150%;
  font-weight: 600;
  font-family: "Audiowide", sans-serif;
  padding: 1rem 2rem;
  color: #00ffff;
  background: #0a0a0a;
  border: 2px solid #00ffff;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  clip-path: polygon(
    15px 0%,
    100% 0%,
    100% 70%,
    calc(100% - 15px) 100%,
    0 100%,
    0% 30%
  );

  transition: 1s;
}

#option-restart::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(120deg, transparent, #00ffff, transparent);
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.4s ease;
  transform: rotate(45deg) translateX(-100%);
  transition: transform 1s;
  z-index: -1;
}
#option-restart:hover::before {
  opacity: 0.4;
  transform: rotate(45deg) translateX(100%);
  transition: transform 1s;
}

#option-restart:hover {
  box-shadow: inset 0 0 30px #000000;
  color: #0a0a0a;
  background: #00ffff;
  border: 2px solid #000;
  transition: 1s;
}

.lettre {
  font-size: 24px;
  margin: 2px;
  padding: 4px;
  border-bottom: 2px solid #ccc;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}
#loading {
  opacity: 0;
}